.nav-bar{
    background-color: #2573e9;
}
.middle{
    vertical-align: middle;
}
.nav-item{
    padding: 10px 0;
    border-bottom: 3px solid transparent;;
}
.nav-item:hover , .nav-item.active {
    border-bottom: 3px solid white;
    color: #FF7C5B;
}
.name{
    color:rgb(0, 199, 179);
}