.about-bg{
    background-image: url('https://i.ibb.co/W0T3y4j/about-banner.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
}
.text-shadow{
    text-shadow: 2px 2px 10px black;
}