.carousel-caption{
    top: 60%;
    transform: translateY(-50%);
}
.carousel img{
    height: 100%;
    object-fit: cover;
}
.carousel-item{
    height: 100vh;
}
.btn-regular-lg{
    background-color: #0d6efd;
    border: 1px solid transparent;
    color: white;
    padding: 8px 12px;
    font-size: 1.3rem;
}