.add-service-form input,textarea{
    width: 50%;
    margin: 10px 0;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 5px;
}
.add-service-form input:focus,textarea:focus{
    border: 1px solid #0d6efd;
    outline: 1px solid #0d6efd;
}
.add-service-form textarea{
    height: 200px;
    margin: 10px 0;
}
@media screen and (max-width:992px) {
    .add-service-form input,textarea{
        width: 70%;
    }
}
@media screen and (max-width:768px) {
    .add-service-form input,textarea{
        width: 80%;
    }
}
@media screen and (max-width:550px) {
    .add-service-form input,textarea{
        width: 95%;
    }
}
